body {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: #B2DBFF;
}

.home-header {
  font-family: "Nerko One", cursive !important;
  font-size: 40px;
  text-align: center;
  justify-content: center;
  color: #005198;
  text-shadow: 8px, #fff;
}

button {
  font-family: "Nerko One", cursive;
  font-size: 20px;
  text-align: center;
  align-content: center;
  background-color: #005198;
  color: white;
  border: none;
  padding: 10px 60px;
  border-radius: 30px;
  cursor: pointer;
}
